<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Browser</title>
  </head>
  <body>
    <div id="mods"></div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const modlist = document.getElementById("mods");
        fetch("/api/v3/mods")
          .then((value) => value.json())
          .then((value) => {
            for (const mod in value) {
              modlist.innerText += `Mod: ${mod.name}\n`;
            }
          });
      });
    </script>
  </body>
</html>
